Box2D==2.3.2
Box2D-kengz==2.3.3
box2d-py==2.3.8
cloudpickle==3.0.0
grpcio
gymnasium==0.29.1
imageio==2.33.1
ipython==8.20.0
keras==3.0.4
keras-rl==0.4.2
matplotlib==3.8.3
numpy
pillow==10.2.0
pygame==2.5.2
rsa==4.9
scipy
tensorboard
tensorboard-data-server
torch
torchvision
