Box2D==2.3.2
Box2D-kengz==2.3.3
box2d-py==2.3.8
grpcio
gymnasium==0.29.1
imageio==2.33.1
ipython==8.20.0
keras==3.0.4
keras-rl==0.4.2
matplotlib==3.8.3
numpy
opencv-python==4.9.0.80
pillow==10.2.0
pygame==2.5.2
pyparsing==3.1.1
scipy==1.12.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
torch==2.2.0
torchvision==0.17.0
